:root {
    /* declare variables here... on :root pseudo-class */
    /* colours */
    --color-grey: rgba(220, 231, 235, 1);
    --color-semi-black: rgba(48, 69, 92, 0.5);
    --color-black: rgba(48, 69, 92, 1);
    --full-white: rgba(245, 245, 245, 1);
    --half-white: rgba(245, 245, 245, 0.5);
    --less-white: rgba(245, 245, 245, 0.3);
    --color-red: rgba(255, 104, 115, 1);
    --blue-med: rgba(34, 190, 198, 1);
    --blue-light: rgba(69, 194, 197, 1);
    --blue-light-half: rgba(69, 194, 197, 0.5);
    /* fonts */
    --font-main: 'Josefin Sans', sans-serif;
    --font-heading: 'Lobster', cursive;
    /* font-sizes */
    --size-normal: 1.25rem;
    --size-M: 1.5rem;
    --size-L: 2rem;
    --size-XL: 2.5rem;
    --size-title: 4em;
    /* font-weights */
    --weight-normal: 500;
    --weight-bold: 700;
    /* padings */
    --gapSmall: 1vh 1vw;
    --gapMed: 2vh 2vw;
    --gapL: 3vh 3vw;
    --gapXL: 5vh 5vw;
    /* borders */
    --borderSm: 0.05rem;
    --borderMed: 0.1rem;
}

@media screen and (max-width: 400px) {

    :root {
        --size-normal: 2vw;
        --size-mid: 3vw;
        --size-big: 4vw;
        --size-title: 6vw;
    }

    html {
        font-size: 2vw;
    }
}

html {
    /* make sure we use up the whole viewport */
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: var(--font-main);
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    display: flex;
    flex-flow: column nowrap;
    align-self: auto;
    justify-self: auto;
    margin: auto;
    background: url(../img/paradisebg.jpg) no-repeat center center fixed;
    background-size: contain;
    /* background: var(--blue-med); */
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100vw 0;
    }
}

/*GLOBAL ELEMENTS ======================================================================= */

.flex-container {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
}


.flex-container-left {
    display: flex;
    margin: auto;
    width: 85vw;
    font-size: var(--size-normal);
    padding: var(--gapSmall);
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    background: var(--half-white);
}

a {
    text-decoration: none;
    color: black;
}

/*==============================TOP SECTION=======================================================================*/

.top {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    flex-flow: row wrap;
}

#top {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.2em solid black;
    background-image: url(../img/spaceNorLights.jpg);
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: auto;
    align-items: center;
    text-align: center;
}

.topNav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* TITLE************************************************************************************** */

.title {
    background: black;
    color: var(--blue-med);
    font-size: var(--size-title);
    padding: var(--gapLarge);
    font-family: var(--font-heading);
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.titleBox {
    margin-left: 0;
    background: black;
    padding: 1rem;
    display: inline-flex;
    flex-flow: row wrap;
}

.titleBox:hover>.title {
    background: var(--blue-light);
    color: var(--full-white);
}

.titleBox:hover {
    border: 0.5rem solid white;
}

/* topNav======================================================================================= */
.drop {
    display: block;
    margin-right: 3em;
    font-size: var(--size-XL);
    font-weight: bolder;
}

.drop>a:first-child {
    position: relative;
    text-align: center;
    color: black;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.drop>a:first-child~span {
    position: absolute;
    display: none;
    padding: var(--gapSmall);
    margin: auto;
    text-align: left;
    background: var(--blue-light);
}


.drop:hover>a:first-child~span {
    display: flex;
    flex-flow: column wrap;
}

/*  =============================CONTNET==============================================*/


.content {
    flex: 1 0 auto;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    word-break: break-word;
    justify-self: center;
    align-content: center;
    hyphens: auto;
    margin: auto;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 0;
}

#content {
    padding: 2vh 2vw;
    margin: 5em auto;
}

#content:nth-child(n) {
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 1vh 1vw;
}

.pad {
    display: flex;
    flex-flow: row nowrap;
    margin: 3vh auto;
}

.padL {
    display: flex;
    flex-flow: row nowrap;
    margin: 3em auto;
}

.padSm {
    display: flex;
    flex-flow: row nowrap;
    margin: 1vh auto;
}

.topPad {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    margin: 7em auto;
}

.sidePad {
    display: flex;
    margin: auto 1vw;
}

.sidePadL {
    display: flex;
    margin: auto 2em;
}



/* =============================================INDEX HTML========================================================== */


/* INDEX COVER LETTER STYLES*************** */


#coverLetter {
    display: inline-flex;
    width: 85vw;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
}

#coverPhotoBox {
    border-radius: var(--borderSm);
}

#coverPhotoBox>a>picture {
    border-radius: var(--borderMed);
}

#coverLetter>p {
    background: var(--half-white);
    padding: var(--gapMed);
    line-height: 2;
}

#coverLetter>p::first-letter {
    color: rgba(255, 255, 255, 0);
}

/* #coverLetter>picture>img {} */

/* INDEX QUALIFICATIONS STYLES*************** */
.contentTitleBox {
    display: flex;
    flex-flow: row wrap;
}

.contentTitle {
    display: flex;
    flex-flow: row wrap;
    font-family: var(--font-heading);
    font-size: var(--size-XL);
    font-weight: var(--weight-bold);
    justify-content: center;
    width: 90vw;
    background: var(--half-white);
    text-align: center;
    border: 0.05rem solid var(--less-white);
    border-radius: 0.1rem;
    padding: var(--gapSmall);
}

.qualifyItem>#mCATScoreBox {
    flex-grow: 1;
}

#mCATScoreBox {
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    border-radius: 0.5rem;
}

#mCATScoreBox>img {
    max-width: 85vw;
    display: flex;
    flex-flow: row wrap;
    object-fit: contain;

}

.date {
    background: var(--half-white);
    padding: var(--gapSmall);
    font-size: var(--size-normal);
}

.contentSubTitle {
    background: var(--half-white);
    font-size: var(--size-mid);
    padding: var(--gapSmall);
}

/* ============================CONTACT HTML============================================= */


form {
    flex-flow: column wrap;
    margin: 0 auto;
    align-items: center;
}

form>.flex-container>p {
    font-size: var(--size-normal);
    font-weight: var(--weight-bold);
    text-align: center;
    padding: var(--gapSmall);
}

form>.flex-container>input {
    display: flex;
    flex-flow: row wrap;
    font-family: var(--font-main);
    font-size: var(--size-normal);
    width: 80vw;
    background: var(--half-white);
    text-align: center;
    border: 0.05rem solid var(--less-white);
    border-radius: 0.1rem;
    padding: 0.1rem;
}

form>.flex-container>textarea {
    display: flex;
    flex-flow: row wrap;
    background: var(--half-white);
    font-family: var(--font-main);
    font-size: var(--size-normal);
    width: 80vw;
    height: 15vw;
    text-align: left;
    border: 0.05rem solid var(--less-white);
    border-radius: 0.1rem;
    padding: 0.1rem;
}

.flex-container>button {
    border: 0;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    flex-wrap: nowrap;
    padding: var(--gapSmall);
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: var(--size-big);
    font-weight: var(--weight-bold);
    background: var(--blue-med);
    margin: 1vh auto;
}

input:focus-within,
input:focus,
textarea:focus {
    outline: 0.05rem solid rgba(229, 57, 53, 0.8);
}

#moment {
    margin: 0;
    font-size: var(--size-XL);
    background: var(--blue-light-half);
    padding: var(--gapL);
}

.moment {
    margin: 0 auto;
    background: var(--blue-light-half);
    border-radius: var(--size-mid);
}

/* ====================================PORTFOLIO HTML================================================= */

.galleryNav {
    margin: 5em auto;
    display: flex;
    background: var(--blue-light-half);
    border-radius: var(--size-normal);
    flex-flow: row wrap;
    justify-content: space-around;
}

.galleryBox {
    width: 15vw;
    min-height: 10vh;
    /* flex-grow: 1; */
    overflow: hidden;
    margin: var(--gapSmall);
    box-sizing: border-box;
    background: var(--blue-med);
}

.galleryBox>a>picture {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    object-fit: cover;
}

.galleryBox>a>picture>img {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover no-repeat center center fixed;
}

.galleryBox:hover>.workTitle {
    color: white;
}

.galleryTitle {
    font-family: var(--font-heading);
    font-weight: var(--borderMed);
    font-size: var(--size-XL);
    text-align: center;
}

/* ==========================================STICKY FOOTER=================================================== */

.footer {
    flex-shrink: 0;
    display: flex;
}

footer {
    display: flex;
    flex-shrink: 0;
    background: rgba(69, 194, 197, 1);
    border-top: 0.1vh solid rgba(245, 245, 245, 0.8);
}

.footNav {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    text-align: center;
}

.footLink {
    margin: 0.2rem;
}

.footLink:last-child {
    border-radius: 50%;
    font-family: inherit;
    padding: 1vh;
    border: 0.1rem solid whitesmoke;
    font-size: 0.6rem;
    color: whitesmoke;
}

.footLink:nth-child(1) {
    font-size: var(--size-big);
    border: transparent;
    display: flex;
    flex-grow: 0.4;
    border-radius: 0.1rem;
}

.footLink:nth-child(1):hover {
    border: 0.1rem solid black;
}

.footLink:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

/* ============================================================================= */

p:hover,
button:hover,
input:focus {
    font-size: var(--size-mid);
    padding: var(--gapSmall);
}


.galleryNav:hover,
image:hover,
p:hover,
button:hover,
input:focus,
#submit:hover {
    animation: pulse 3s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.galleryBox:hover {
    animation: jello 8s infinite;
}

@-webkit-keyframes jello {

    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-9.5deg) skewY(-9.5deg);
        transform: skewX(-9.5deg) skewY(-9.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes jello {

    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-9.5deg) skewY(-9.5deg);
        transform: skewX(-9.5deg) skewY(-9.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.galleryNav {
    background: linear-gradient(to right, rgba(69, 194, 197, 0.5) 19%, rgba(53, 206, 229, 0.5) 40%, rgba(245, 245, 245, 0.5) 83%, rgba(69, 194, 197, 0.5) 100%);
    background-size: 100vw;
    animation: bg 9s linear infinite;
    will-change: opacity;
    transition: opacity 0.3s ease-out;
}

@keyframes bg {
    0% {
        background-position-x: 0vw;
    }

    100% {
        background-position-x: 100vw;
    }

    0% {
        background-position-x: 0vw;
    }
}

a:hover,
.drop:hover,
    {
    animation: rubberBand 5s infinite;
}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}