:root {
    /* declare variables here... on :root pseudo-class */
    /* colours */
    --color-grey: rgba(220, 231, 235, 1);
    --color-semi-black: rgba(48, 69, 92, 0.5);
    --color-black: rgba(48, 69, 92, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-red: rgba(255, 104, 115, 1);
    --color-blue: rgba(34, 190, 198, 1);
    /* fonts */
    --font-main: 'Josefin Sans', sans-serif;
    --font-heading: 'Lobster', cursive;
    /* font-sizes */
    --size-normal: 1rem;
    --size-mid: 1.5rem;
    --size-big: 2rem;
    /* font-weights */
    --weight-normal: 500;
    --weight-bold: 700;
    /* padings */
    --gapSmall: 1vh 1vw;
    --gapMed: 2vh 2vw;
    --gapLarge: 3vh 3vw;
    /* borders */
    --borderSm: 0.05rem;
    --borderMed: 0.1rem;
}

@media screen and (max-width: 400px) {

    :root {
        --size-normal: 2vw;
        --size-mid: 3vw;
        --size-big: 4vw;
    }

    html {
        font-size: 2vw;
    }
}

html {
    /* make sure we use up the whole viewport */
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: var(--font-main);
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    display: flex;
    flex-flow: column nowrap;
    align-self: auto;
    justify-self: auto;
    margin: auto;
    background: url(../img/paradisebg.jpg) no-repeat center center fixed;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100vw 0;
    }
}

/*GLOBAL ELEMENTS ======================================================================= */

.flex-container {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

picture {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    flex-grow: 1;
    margin: auto;
}

picture>img {
    display: flex;
    width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 0;
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: contain;
}

/*==============================TOP SECTION=======================================================================*/

.top {
    display: flex;
}

#top {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.2em solid black;
    background-image: url(../img/spaceNorLights.jpg);
    background-size: contain;
    display: inline-flex;
    flex-flow: row wrap;
    margin: auto;
    align-items: center;
    text-align: center;
}

/* TITLE************************************************************************************** */

.title {
    background: black;
    color: limegreen;
    font-size: var(--size-big);
    font-family: var(--font-heading);
    font-style: italic;
    font-weight: bolder;
    padding: inherit;
    text-align: center;
}

.titleBox {
    background: black;
    border: 0.5rem double limegreen;
    padding: 1rem;
    display: inline-flex;
    flex-flow: row wrap;
}

.titleBox:hover>.title {
    background: limegreen;
    color: black;
}

.titleBox:hover {
    border: 0.5rem solid white;
}

/* topNav======================================================================================= */
.drop {
    display: block;
}

.drop>a:first-child {
    position: relative;
    text-align: center;
    color: black;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.drop>a:first-child~span {
    position: absolute;
    display: none;
    padding: 0;
    margin: auto;
    text-align: left;
    background: whitesmoke;
}


.drop:hover>a:first-child~span {
    display: flex;
    flex-flow: column wrap;
}

/* =======================================DROP NAV================================== */

.navPad {
    width: 40%;
}

.topNav {
    width: 100%;
    align-items: center;
    font-size: var(--size-mid);
    display: inline-flex;
    justify-content: space-between;
}

/*  =============================CONTNET==============================================*/


.content {
    flex: 1 0 auto;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    word-break: break-word;
    justify-self: center;
    align-content: center;
    hyphens: auto;
    margin: auto;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 0;
}

#content {
    padding: 2vh 2vw;
    margin: 5em auto;
}

#content:nth-child(n) {
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 1vh 1vw;
}

.pad {
    display: flex;
    flex-flow: row nowrap;
    margin: 3vh auto;
}

.padSm {
    display: flex;
    flex-flow: row nowrap;
    margin: 1vh auto;
}

.topPad {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    margin: 2em auto;
}


/* =============================================INDEX HTML========================================================== */

.aboutContainer {
    display: flex;
    flex-flow: column wrap;
    word-break: break-word;
    font-style: inherit;
    font-size: var(--size-normal);
}

.aboutTitleBox {
    margin: 1rem;
    padding: 1rem;
    border-bottom: 0.3rem solid black;
    display: flex;
}

.aboutTitleBox>a {
    background: linear-gradient(to bottom right, rgba(34, 139, 34, 0.9), rgba(50, 205, 50, 0.9));
    text-decoration: none;
    border: 0.1rem solid black;
    font-family: var(--font-heading);
    font-size: var(--size-big);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 1rem;
}

/* INDEX COVER LETTER STYLES*************** */

#coverLetterBox {
    background: rgba(255, 255, 255, 0.5);
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0rem 5rem;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

#coverLetter {
    display: inline-flex;
}

#coverLetterBox>article {
    text-align: left;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-stretch: expanded;
}

#coverLetter>picture {
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid limegreen;
    min-width: 30%;
    width: 20vw;
    height: 20vw;
}

/* #coverLetter>picture>img {} */

/* INDEX QUALIFICATIONS STYLES*************** */

.qualifyItem>#mCATScoreBox {
    flex-grow: 2;
}

#mCATScoreBox {
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid limegreen;
}

#coverLetterBox>article>p::first-letter {
    font-size: 200%;
    color: limegreen;
    margin-left: 5rem;
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
}

#qualify {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.qualifyTitle {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    top: 0;
    text-shadow: 0 0 0.5px limegreen;
    font-size: var(--size-big);
    flex-grow: stretch;
}

.qualifyBox {
    border-radius: 0.5rem;
    padding: 0rem 5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
    object-fit: contain;
    margin: 1rem;
}

.qualifyContent {
    height: 100%;
    width: 100%;
}

.qualifyContent>p:first-child {
    margin-top: 0;
    color: black;
    background: linear-gradient(to bottom right, rgba(34, 139, 34, 0.3), rgba(50, 205, 50, 0.3));
    border: 0.1rem solid black;
    border-radius: .1rem;
    font-size: var(--size-big);
    font-family: 'IBM Plex Serif', serif;
    font-weight: bolder;
}

.qualifyItem {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4) 60%, rgba(0, 0, 0, 0.1));
    border: 0.1rem solid rgba(50, 205, 50, 0.5);
    outline: 0.1rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0rem 5rem;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    box-sizing: border-box;
    object-fit: contain;
    margin: 1rem;
    letter-spacing: 0.05vw;
}

.qualifyItem>p:first-child {
    text-align: center;
    color: black;
    margin-top: 0;
    background: rgba(0, 0, 0, 0.01);
    font-size: var(--size-big);
    border: none;
    word-spacing: 0.5em;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bolder;
    border-bottom: 0.1rem double black;
    padding: 1rem;
}

.qualifyItem>p:nth-child(2) {
    text-align: center;
}

.qualifyItem p {
    text-align: left;
}

#mCATScore {
    text-decoration: underline;
}

#skillItem>p:nth-child(2) {
    text-align: left;
}

/* EXTERNAL RESOURCES STYLES ******************** */

#linkedIn>.qualifyItem {
    align-items: center;
    padding: 2rem;
    flex-grow: 2;
}

#linkedIn>.qualifyItem>p {
    width: 100%;
}

#linkedIn>.qualifyItem>a>p {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}

#linkedIn>.qualifyItem>a {
    background: rgba(50, 205, 50, 0.5);
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    width: 100%;
}

#linkedIn>.qualifyItem>a>picture {
    background: black;
    padding: 0.5rem;
}

#linkedIn>.qualifyItem>a>picture>img {
    border: 0.1rem solid rgba(50, 205, 50, 0.5);
}

/* ============================CONTACT HTML============================================= */

form {
    flex-flow: column wrap;
    margin: 0 auto;
    align-items: center;
}

form>.flex-container>p {
    background: rgba(229, 57, 53, 0.8);
    font-size: var(--size-normal);
    font-weight: var(--weight-bold);
    width: 80vw;
    text-align: center;
    border: 0.05rem solid rgba(245, 245, 245, 0.3);
    border-radius: 0.1rem;
    padding: 0.5rem;
}

form>.flex-container>input {
    display: flex;
    flex-flow: row wrap;
    font-family: var(--font-main);
    font-size: var(--size-normal);
    width: 80vw;
    background: rgba(245, 245, 245, 0.5);
    text-align: center;
    border: 0.05rem solid rgba(245, 245, 245, 0.3);
    border-radius: 0.1rem;
    padding: 0.1rem;
}

form>.flex-container>textarea {
    display: flex;
    flex-flow: row wrap;
    background: rgba(245, 245, 245, 0.5);
    font-family: var(--font-main);
    font-size: var(--size-normal);
    width: 80vw;
    height: 15vw;
    text-align: left;
    border: 0.05rem solid rgba(245, 245, 245, 0.3);
    border-radius: 0.1rem;
    padding: 0.1rem;
}

.flex-container>button {
    border: 0;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    flex-wrap: nowrap;
    padding: var(--gapSmall);
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: var(--size-big);
    font-weight: var(--weight-bold);
    background: rgba(229, 57, 53, 1);
    margin: 1vh auto;
}

input:focus-within,
input:focus,
textarea:focus {
    outline: 0.05rem solid rgba(229, 57, 53, 0.8);
}


/* ====================================PORTFOLIO HTML================================================= */

.workNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.workBox {
    width: 20vw;
    min-height: 20vh;
    /* flex-grow: 1; */
    overflow: hidden;
    border: 1rem solid black;
    outline: .1rem solid limegreen;
    padding: 0.1rem;
    margin: 1rem;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, forestgreen, limegreen);
}

.workBox>a>picture>.workImg {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: fill;
}

.workBox:hover {
    background: white;
    -moz-box-shadow: inset 0 0 50px limegreen;
    -webkit-box-shadow: inset 0 0 50px limegreen;
    box-shadow: inset 0 0 50px limegreen;
}

.workBox:hover>h2 {
    color: white;
}

.workTitle {
    font-family: var(--font-heading);
    font-size: var(--size-mid);
}

/* ==========================================STICKY FOOTER=================================================== */

.footer {
    flex-shrink: 0;
    display: flex;
}

footer {
    display: flex;
    flex-shrink: 0;
    background: rgba(229, 57, 53, 0.8);
    border-top: 0.1vh solid rgba(245, 245, 245, 0.8);
}

.footNav {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    text-align: center;
}

.footLink {
    margin: 0.2rem;
}

.footLink:last-child {
    border-radius: 50%;
    font-family: inherit;
    padding: 1vh;
    border: 0.1rem solid whitesmoke;
    font-size: 0.6rem;
    color: whitesmoke;
}

.footLink:nth-child(1) {
    font-size: var(--size-big);
    border: transparent;
    display: flex;
    flex-grow: 0.4;
    border-radius: 0.1rem;
}

.footLink:nth-child(1):hover {
    border: 0.1rem solid black;
}

.footLink:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

/* ============================================================================= */
button:hover,
input:focus,
p:hover,
#submit:hover {
    animation: pulse 3s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}