:root {
    /* declare variables here... on :root pseudo-class */
    /* colours */
    --color-grey: rgba(220, 231, 235, 1);
    --color-semi-black: rgba(48, 69, 92, 0.5);
    --color-black: rgba(48, 69, 92, 1);
    --full-white: rgba(245, 245, 245, 1);
    --half-white: rgba(245, 245, 245, 0.5);
    --less-white: rgba(245, 245, 245, 0.3);
    --color-red: rgba(255, 104, 115, 1);
    --blue-med: rgba(34, 190, 198, 1);
    --blue-light: rgba(69, 194, 197, 1);
    --blue-light-half: rgba(69, 194, 197, 0.5);
    /* fonts */
    --font-main: 'Josefin Sans', sans-serif;
    --font-heading: 'Lobster', cursive;
    /* font-sizes */
    --sizeNormal: 1.25rem;
    --sizeM: 1.5rem;
    --sizeL: 2rem;
    --sizeXL: 2.5rem;
    --sizeXXL: 3.5rem;
    --sizeTitle: 5rem;
    /* font-weights */
    --weight-normal: 500;
    --weight-bold: 700;
    /* padings */
    --gapSmall: 1vh 1vw;
    --gapMed: 2vh 2vw;
    --gapL: 3vh 3vw;
    --gapXL: 5vh 5vw;
    --gapTop: 1em;
    /* borders */
    --borderSm: 0.05rem;
    --borderMed: 0.1rem;
}

@media only screen and (max-width: 650px) {

    :root {
        --sizeNormal: 2vw;
        --sizeM: 3vw;
        --sizeL: 4vw;
        --sizeXL: 6vw;
        --sizeTitle: 8vw;
        --gapTop: 10vw;
        --borderSm: 0.1vw;
    }

    html {
        font-size: 2vw;
    }

    /* #coverLetter {
        display: flex;
    } */
}

/* @media only screen and (min-width: 650px) {
    #coverLetter {
        display: inline-flex;
    }
} */


html {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: var(--font-main);
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-self: auto;
    justify-self: auto;
    margin: auto;
    /* background: url(../img/bgblue.jpg) no-repeat center center fixed; */
    background: url(../img/bgblue.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* width: 100vw;
    height: 100vh; */
    /* animation: animatedBackground 40s linear infinite; */
}


@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100vw 0;
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100vw 0;
    }
}

/*GLOBAL ELEMENTS ======================================================================= */

.flex-container {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
}


.flex-container-left {
    display: flex;
    margin: auto;
    width: 85vw;
    font-size: var(--size-normal);
    padding: var(--gapSmall);
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    background: var(--half-white);
}

a {
    padding: var(--gapSmall);
    text-decoration: none;
    color: black;
}

/*==============================TOP SECTION=======================================================================*/

.top {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    flex-flow: row;
}

#top {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.2em solid black;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    margin: auto;
    align-items: center;
    text-align: center;
}

.topNav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    word-wrap: none;
    word-break: normal;
}

.topPad {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    margin: var(--gapTop) auto;
}

/* TITLE************************************************************************************** */

.title {
    background: black;
    color: var(--blue-med);
    font-size: var(--size-title);
    padding: var(--gapLarge);
    font-family: var(--font-heading);
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.titleBox {
    margin-left: 0;
    background: black;
    padding: 1rem;
    display: inline-flex;
    flex-flow: row wrap;
}

.titleBox:hover>a {
    background: var(--blue-light);
    color: var(--full-white);
}

.titleBox:hover {
    background: var(--blue-light);
    color: var(--full-white);
}

/* topNav======================================================================================= */
.topNav ul {
    list-style: none;
    border-radius: var(--borderSm);
    position: relative;
    margin: 0;
    padding: 0
}

.topNav ul a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-weight: var(--weight-bold);
    font-size: var(--size-M);
    padding: var(--gapSmall);
    font-family: var(--font-main);
}



@media screen and (min-width: 500px) {
    .drop {
        display: inline-flex;

    }

    .mobileDrop {
        display: none;
    }

    .navPad {
        display: none;
        margin: auto 20vw;
    }
}

@media screen and (max-width: 500px) {
    .drop {
        display: none;
    }

    .mobileDrop {
        display: inline-flex;
    }

    .navPad {
        display: flex;
        margin: auto 10vw;
    }
}

.topnav ul li {
    position: relative;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0
}

.topNav ul li.current-menu-item {
    background: var(--full-white);
}

.topNav ul li:hover {
    background: var(--blue-light);
}

.topNav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #fff;
    padding: 0
}

.topNav ul ul a {
    line-height: 120%;
    padding: var(--gapSmall);
}

.topNav ul ul ul {
    top: 0;
    left: 100%
}

.topNav ul li:hover>ul {
    display: flex;
    flex-direction: column;
}

/* .mobileDrop {
    display: none;
} */

/*  =============================CONTNET==============================================*/


.content {
    flex: 1 0 auto;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    word-break: break-word;
    justify-self: center;
    align-content: center;
    hyphens: auto;
    margin: auto;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 0;
}

#content {
    padding: 2vh 2vw;
    margin: 5em auto;
}

#content:nth-child(n) {
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 1vh 1vw;
}

.pad {
    display: flex;
    flex-flow: row nowrap;
    margin: 3vh auto;
}

.padL {
    display: flex;
    flex-flow: row nowrap;
    margin: 3em auto;
}

.padSm {
    display: flex;
    flex-flow: row nowrap;
    margin: 1vh auto;
}

.sidePad {
    display: flex;
    margin: auto 1vw;
}

.sidePadL {
    display: flex;
    margin: auto 2em;
}



/* //////================================================================================= */
/* =============================================INDEX HTML========================================================== */

#coverLetter {
    width: 90vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
}

#coverLetter>a {
    width: 80vw;
}

#coverLetter>a>picture>img {
    width: 20vw;
    margin: auto;
}

#coverLetter>a>picture>img {
    border-radius: var(--borderMed);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#coverPhotoBox>a>picture>img {
    object-fit: contain;
}

#coverLetter>p {
    background: var(--half-white);
    padding: var(--gapMed);
    line-height: 2;
}

#coverLetter>p::first-letter {
    color: rgba(255, 255, 255, 0);
}


/* INDEX QUALIFICATIONS STYLES*************** */
.contentTitleBox {
    display: flex;
    flex-flow: row wrap;
}

.contentTitle {
    display: flex;
    flex-flow: row wrap;
    font-family: var(--font-heading);
    font-size: var(--size-XXL);
    font-weight: var(--weight-bold);
    justify-content: center;
    width: 95vw;
    background: var(--half-white);
    text-align: center;
    border: 0.05rem solid var(--less-white);
    border-radius: 0.1rem;
    padding: var(--gapSmall);
}

.qualifyItem>#mCATScoreBox {
    flex-grow: 1;
}

#mCATScoreBox {
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    border-radius: 0.5rem;
}

#mCATScoreBox>img {
    max-width: 85vw;
    display: flex;
    flex-flow: row wrap;
    object-fit: contain;

}

.date {
    background: var(--less-white);
    padding: var(--gapSmall);
    font-size: var(--size-normal);
}

.contentSubTitle {
    background: var(--half-white);
    font-size: var(--size-mid);
    padding: var(--gapSmall);
    margin: var(--gapSmall);
    text-align: center;
    justify-content: center;
}

/* ============================CONTACT HTML============================================= */


form {
    flex-flow: column wrap;
    margin: 0 auto;
    align-items: center;
}

form>.flex-container>p {
    font-size: var(--size-L);
    font-weight: var(--weight-bold);
    text-align: center;
    padding: var(--gapSmall);
}

form>.flex-container>input {
    display: flex;
    flex-flow: row wrap;
    font-family: var(--font-main);
    font-size: var(--size-L);
    width: 80vw;
    background: var(--half-white);
    text-align: center;
    border: 0.05rem solid var(--less-white);
    border-radius: 0.1rem;
    padding: 0.1rem;
}

form>.flex-container>textarea {
    display: flex;
    flex-flow: row wrap;
    background: var(--half-white);
    font-family: var(--font-main);
    font-size: var(--size-normal);
    width: 80vw;
    height: 15vw;
    text-align: left;
    border: 0.05rem solid var(--less-white);
    border-radius: 0.1rem;
    padding: 0.1rem;
}

.flex-container>.button {
    border: 0;
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    width: 20vw;
    /* overflow-wrap: break-word; */
    cursor: pointer;
    padding: var(--gapSmall);
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: var(--size-mid);
    font-weight: var(--weight-bold);
    background: linear-gradient(to right, rgba(69, 194, 197, 0.0), rgba(69, 194, 197, 0.8), rgba(69, 194, 197, 0.8), rgba(69, 194, 197, 0));
    margin: 1vh auto;
}

input:focus-within,
input:focus,
textarea:focus {
    outline: 0.05rem solid var(--blue-med);
}

#moment {
    margin: 0;
    font-size: var(--size-XL);
    background: var(--blue-light-half);
    padding: var(--gapL);
}

.moment {
    margin: 0 auto;
    background: var(--blue-light-half);
    border-radius: var(--size-mid);
}

/* ====================================PORTFOLIO HTML================================================= */

.galleryNav {
    margin: 5em auto;
    display: flex;
    background: var(--blue-light-half);
    border-radius: var(--size-normal);
    flex-flow: row wrap;
    justify-content: space-around;
}

.galleryBox {
    width: 15vw;
    min-height: 10vh;
    /* flex-grow: 1; */
    overflow: hidden;
    margin: var(--gapSmall);
    box-sizing: border-box;
}

.galleryBox>a>picture {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    object-fit: cover;
}

.galleryBox>a>picture>img {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover no-repeat center center fixed;
}

.galleryBox:hover>.workTitle {
    color: white;
}

.galleryTitle {
    font-family: var(--font-heading);
    font-weight: var(--borderMed);
    font-size: var(--size-XL);
    text-align: center;
}

/* ==========================================STICKY FOOTER=================================================== */

.footer {
    flex-shrink: 0;
    display: flex;
}

footer {
    display: flex;
    flex-shrink: 0;
    background: rgba(69, 194, 197, 0.5);
    border-top: 0.1vh solid rgba(245, 245, 245, 0.8);
}

.footNav {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    text-align: center;
}

.footLink {
    margin: 0.2rem;
}

.footLink:last-child {
    border-radius: 50%;
    font-family: inherit;
    padding: 1vh;
    border: 0.1rem solid whitesmoke;
    font-size: 0.6rem;
    color: whitesmoke;
}

.footLink:nth-child(1) {
    font-size: var(--size-XL);
    border: transparent;
    display: flex;
    flex-grow: 0.4;
    border-radius: 0.1rem;
}

.footLink:nth-child(1):hover {
    border: 0.1rem solid black;
}

.footLink:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

/* ============================================================================= */

p::selection,
a::selection {
    background: black;
    color: var(--full-white);
}

#coverLetter>a,
.galleryBox,
.galleryTitle {
    background: var(--blue-light-half);
}

p:hover,
/* button:hover, */
.button:focus-within,
input:focus {
    font-size: var(--size-mid);
    padding: var(--gapSmall);
}

form:focus-within,
.drop>a:hover,
.drop:hover,
.galleryNav:hover,
image:hover,
p:hover,
button:hover,
input:focus,
#submit:hover {
    animation: pulse 3s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#coverLetter>a,
.button:focus,
.galleryBox:hover {
    animation: jello 8s infinite;
}

@-webkit-keyframes jello {

    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-9.5deg) skewY(-9.5deg);
        transform: skewX(-9.5deg) skewY(-9.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes jello {

    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-9.5deg) skewY(-9.5deg);
        transform: skewX(-9.5deg) skewY(-9.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

#coverLetter>a>picture,
#top {
    background: linear-gradient(to right, rgba(69, 194, 197, 1) 19%, rgba(53, 206, 229, 1) 40%, rgba(245, 245, 245, 1) 83%, rgba(69, 194, 197, 1) 100%);

}


.contentTitle,
.contentSubTitle,
.galleryNav {
    background: linear-gradient(to right, rgba(69, 194, 197, 0.6) 19%, rgba(53, 206, 229, 0.6) 40%, rgba(245, 245, 245, 0.6) 83%, rgba(69, 194, 197, 0.6) 100%);
}

#top,
.contentTitle,
.contentSubTitle,
.galleryNav {
    background-size: 100vw;
    animation: bg 9s linear infinite;
    will-change: opacity;
    transition: opacity 0.3s ease-out;
}

@keyframes bg {
    0% {
        background-position-x: 0vw;
    }

    100% {
        background-position-x: 100vw;
    }

    0% {
        background-position-x: 0vw;
    }
}